.white-input{
	background-color: transparent;
	color: currentColor;
	}
.form-check-input:checked {
	background-color: #198754;
	border-color: #198754;
	}


.cursor-pointner{
	cursor: pointer;
	}
.opacity{
	opacity: 0.3;
	}
.plaski{
	/*padding: 10px;*/
	background-color: #212529;
	color: #fff;
	}
.bd-example{
	padding: 1.5rem;
	margin-right: 0;
	margin-left: 0;
	border-width: 1px;
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
	}
.perk-box{
	padding: 5px;
	}
.con{
	background-color: blue;
	}
a { 
	text-decoration: none; /* Отменяем подчеркивание у ссылки */
	color: #fff;
	}
.uncommon-frame{
	background-image: url(https://newworldfans.com/packs/media/db_images/backgrounds/uncommon-d0273c085c8d5bbde02bdf7932422275.png);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	margin: 0 auto;
	width: 50px;
	height: 50px;
	border: 1px outset #34bf48;
	box-shadow: inset 0 0 3px grey;
	}
.previy{
	padding: 5px;
	width: 50px;
	height: 50px;
	filter: drop-shadow(1px 1px 5px white) brightness(1.5);
	}
.scale {
	transition: 0.3s; /* Время эффекта */
	}
.scale:hover {
	transform: scale(1.8); /* Увеличиваем масштаб */
	}
.scale2 {
	transition: 0.3s; /* Время эффекта */
	}
.scale2:hover {
	transform: scale(1.1); /* Увеличиваем масштаб */
	}
.scale3 {
	transition: 0.3s; /* Время эффекта */
	}
.scale3:hover {
	transform: scale(1.04); /* Увеличиваем масштаб */
	box-shadow: 5px 5px 5px #2a2b2e;
	}

.table>:not(:first-child){
	border-top: 2px solid #1b1e20;
	}
.margin{
	margin: 3px;
	}


/* ============ desktop view ============ */
@media all and (min-width: 992px) {
	.dropdown-menu li{ position: relative; 	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
		}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
		}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{ display: block; }
	}	
/* ============ desktop view .end// ============ */

/* ============ small devices ============ */
@media (max-width: 991px) {
	.dropdown-menu .dropdown-menu{
		margin-left:0.7rem; margin-right:0.7rem; margin-bottom: .5rem;
		}
	}
/* ============ small devices .end// ============ */